<div class="height-100">
        <div><h1 class="logo">W</h1></div>
        <div id="home"><a><i-home class="left"></i-home><p>home</p></a></div>
        <div class="point" id="cand"><a><i-users class="left"></i-users><p>Candidates</p></a></div>
        <div class="point" id="events">
          <a><i-calendar class="left"></i-calendar><p>Events</p>
          </a></div>
        <div id="access" class="left bottom"><a (click)="toggleShowDiv('divA');"><i-unlock></i-unlock><p>Login</p>
        </a></div>
    
    </div>