{{ street | json}}
{{ zip | json}}
{{ city | json }}
{{ zip_4 | json }}
{{ lat | json }}
{{ lng | json }}
{{ address | json }}
{{ street_number | json }}
{{ county | json }}
{{ name_state | json }}

<div class="page-background">
    <div [ngSwitch]='route0$'>
        <div *ngSwitchCase="'home'">
          <rootcontainer [pageData]="joined"></rootcontainer></div>
      <div *ngSwitchCase="'events'"><app-events></app-events></div>
      <div *ngSwitchCase="'admin'"><app-admin></app-admin></div>
      <div *ngSwitchCase="'checkout'">checkout</div>
      <div *ngSwitchCase="'register'"><app-register></app-register></div>
      <div *ngSwitchDefault>
          <rootcontainer [pageData]="joined"></rootcontainer>
      </div> 
  </div>
  </div>





  
 