<div>
  <test1>
  </test1>
  <test2>
  </test2>
  <test3>
  </test3>
  <test4>
  </test4>
  
  </div>
  <body >
  <!-- <div [ngSwitch]='route0$'>
      <div *ngSwitchCase="'home'">
          <dynamiccontainer [pageData]="joined"></dynamiccontainer>
      </div>
      <div *ngSwitchCase="'events'"><app-events></app-events></div>
      <div *ngSwitchCase="'admin'"><app-admin></app-admin></div>
      <div *ngSwitchCase="'checkout'">checkout</div>
      <div *ngSwitchCase="'register'"><app-register></app-register></div>
      <div *ngSwitchDefault><dynamiccontainer [pageData]="joined"></dynamiccontainer>
      </div> 
  </div> -->
  </body>
  
  
  
  
  
    
   