<fontlink></fontlink>
<header class="sticky height-80">
    <a href="#" class="logo">Logo</a>
    <a href="#" class="button">Home</a>
    <button>Download</button>
  </header>
  <div class="spinner primary"></div>
  <table>
      <caption>People</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Surname</th>
          <th>Alias</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="Name">Chad</td>
          <td data-label="Surname">Wilberts</td>
          <td data-label="Alias">MrOne</td>
        </tr>
        <tr>
          <td data-label="Name">Adam</td>
          <td data-label="Surname">Smith</td>
          <td data-label="Alias">TheSmith</td>
        </tr>
        <tr>
          <td data-label="Name">Sophia</td>
          <td data-label="Surname">Canderson</td>
          <td data-label="Alias">Candee</td>
        </tr>
      </tbody>
    </table>
  <!-- <div class="row shadow height-50 font-size-05">
    <div class="col-sm-1">
      <a class="topmenulink">test</a>
    </div>
    <div class="col-sm-1">
      <a class="button secondary pointer">
      <i class="calendar-9"></i>
      <b class="font-size-1">Events</b>
      </a>
    </div>
    <div class="col-sm-1">
      <b class="padding-5">Link Item</b>
       <i class="padding-5 calendar-9"></i>
    </div>
    <div class="col-sm-1">
      <i class="padding-5 calendar-9"></i>
        <b>Link Item</b>
    </div>
      <div class="col-sm-1">
        <i class="padding-5 calendar-9"></i>
        <b>Link Item</b>
      </div>
      <div class="col-sm-1">
        <i class="padding-5 calendar-9"></i>
        <b>Link Item</b>
      </div>
      <div class="col-sm-1">
          <i class="padding-5 calendar-9"></i>
          <b>Link Item</b>
        </div>
      <div class="col-sm-1">
          <i class="padding-5 calendar-9"></i>
          <b>Link Item</b>
      </div>
      <div class="col-sm-1">
          <i class="padding-5 calendar-9"></i>
          <b>Link Item</b>
      </div>
      <div class="col-sm-1">
          <i class="calendar-10"></i>
          <b class="padding-left-5">Link Item</b>
      </div>
      <div class="col-sm-1">
          <span class="aligncenter"><i class="calendar-9"></i>
            <b>Link Item</b></span>
      </div>
      <div class="col-1">
          <b>Link Item</b>
      </div>
  </div>endrow -->
  <div class="row">
      <div class="card">test</div>
      <div class="card">test</div>
    </div>
    <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="Username" placeholder="Username"/>
      </div>
      <div class="row">
          <div class="card warning">warning</div>
          <div class="card error">error</div>
        </div>
        <form>
            <fieldset>
              <legend>Simple form</legend>
              <label for="username">Username</label>
              <input type="text" id="Username" placeholder="Username"/>
              <label for="password">Password</label>
              <input type="password" id="password" placeholder="Password"/>
            </fieldset>
          </form>
  <admin-footer></admin-footer>